
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Thay đổi mật khẩu</title>
</head>

<div class="col-sm-5 col-sm-offset-1" style="min-height:700px">
    <div class="login-form">
        <h3>Đổi mật khẩu</h3>
        <form action="#">
            <label>Mật khẩu mới</label>
            <input type="password" placeholder="Mật khẩu mới" />
            <label>Đổi mật khẩu</label>
            <input type="password" placeholder="Xác nhận mật khẩu" />

            <button type="submit" class="btn btn-default">Lưu</button>
        </form>
    </div>
</div>
<!--/login form-->
