
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Chỉnh sửa thông tin</title>
</head>
<div class="signup-form col-sm-5 col-sm-offset-1" style="min-height: 700px">
    <h3>Sửa thông tin cá nhân</h3>
    <form action="#">
        <label>Địa chỉ</label>
        <input type="text" placeholder="Địa chỉ" />
        <label>Email</label>
        <input type="email" placeholder="Email" />
        <label>Số điện thoại</label>
        <input type="text" placeholder="Số điện thoại" />
        <label>Họ tên</label>
        <input type="text" placeholder="Họ tên" />
        <label>Ngày sinh</label>
        <input type="datetime" placeholder="Ngày sinh" />
        <button type="submit"
                class="btn btn-default"
                style="margin-right: 10px">
            Lưu
        </button>
    </form>
</div>

