USE [master]
GO
/****** Object:  Database [FLOWERDB]    Script Date: 9/23/2021 3:15:10 PM ******/
CREATE DATABASE [FLOWERDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FLOWERDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FLOWERDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FLOWERDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FLOWERDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FLOWERDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FLOWERDB]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MADONHANG] [int] NOT NULL,
	[MASANPHAM] [int] NOT NULL,
	[GHICHU] [ntext] NULL,
	[SOLUONG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC,
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETGIOHANG]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGIOHANG](
	[MASANPHAM] [int] NOT NULL,
	[MAGIOHANG] [int] NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC,
	[MAGIOHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [int] IDENTITY(1,1) NOT NULL,
	[TENDANHMUC] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCCON]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCCON](
	[MADANHMUCCON] [int] IDENTITY(1,1) NOT NULL,
	[TENDANHMUCCON] [nvarchar](100) NOT NULL,
	[MADANHMUC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANHMUCCON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADONHANG] [int] IDENTITY(1,1) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[TINHTRANG] [int] NOT NULL,
	[MAKH] [int] NOT NULL,
	[MAHTTT] [int] NOT NULL,
	[MAGIAMGIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MAGIOHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENNGUOINHAN] [nvarchar](100) NOT NULL,
	[DIACHINGUOINHAN] [ntext] NOT NULL,
	[DIENTHOAINGUOINHAN] [nchar](11) NOT NULL,
	[NGAYGIOGIAO] [datetime] NULL,
	[LOICHUC] [ntext] NOT NULL,
	[GHICHU] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIOHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HTTT]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTTT](
	[MAHTTT] [int] IDENTITY(1,1) NOT NULL,
	[TENHTTT] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[GHICHU] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [int] NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[HINHANH] [nvarchar](100) NULL,
	[GIOITINH] [bit] NOT NULL,
	[NGAYSINH] [nchar](15) NULL,
	[EMAIL] [char](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAGIAMGIA]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAGIAMGIA](
	[MAGIAMGIA] [int] IDENTITY(1,1) NOT NULL,
	[PHANTRAM] [int] NOT NULL,
	[MOTA] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIAMGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[TENQUYEN] [nchar](10) NOT NULL,
	[MOTA] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENSANPHAM] [nvarchar](100) NOT NULL,
	[MOTA] [ntext] NOT NULL,
	[HOACHINH] [nvarchar](100) NOT NULL,
	[HOAPHU] [nvarchar](100) NOT NULL,
	[CHIEUNGANG] [int] NOT NULL,
	[CHIEUCAO] [int] NOT NULL,
	[GIABAN] [decimal](18, 0) NOT NULL,
	[GIAKM] [decimal](18, 0) NULL,
	[MADANHMUCCON] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 9/23/2021 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATAIKHOAN] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [nvarchar](20) NOT NULL,
	[MATKHAU] [nchar](25) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[MAKH] [int] NOT NULL,
	[TENQUYEN] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDONHANG] ([MADONHANG], [MASANPHAM], [GHICHU], [SOLUONG]) VALUES (1, 1, NULL, 3)
INSERT [dbo].[CHITIETDONHANG] ([MADONHANG], [MASANPHAM], [GHICHU], [SOLUONG]) VALUES (2, 2, NULL, 2)
INSERT [dbo].[CHITIETDONHANG] ([MADONHANG], [MASANPHAM], [GHICHU], [SOLUONG]) VALUES (3, 3, NULL, 6)
GO
INSERT [dbo].[CHITIETGIOHANG] ([MASANPHAM], [MAGIOHANG], [SOLUONG]) VALUES (1, 3, 3)
INSERT [dbo].[CHITIETGIOHANG] ([MASANPHAM], [MAGIOHANG], [SOLUONG]) VALUES (2, 3, 4)
INSERT [dbo].[CHITIETGIOHANG] ([MASANPHAM], [MAGIOHANG], [SOLUONG]) VALUES (3, 6, 5)
GO
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (1, N'Danh mục sản phẩm')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (2, N'TRANG CHỦ')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (3, N'DỊCH VỤ')
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUCCON] ON 

INSERT [dbo].[DANHMUCCON] ([MADANHMUCCON], [TENDANHMUCCON], [MADANHMUC]) VALUES (1, N'Hoa cao cấp', 1)
INSERT [dbo].[DANHMUCCON] ([MADANHMUCCON], [TENDANHMUCCON], [MADANHMUC]) VALUES (2, N'Hoa kỉ niệm', 1)
INSERT [dbo].[DANHMUCCON] ([MADANHMUCCON], [TENDANHMUCCON], [MADANHMUC]) VALUES (3, N'Hoa khai trương', 1)
SET IDENTITY_INSERT [dbo].[DANHMUCCON] OFF
GO
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([MADONHANG], [NGAYDAT], [TINHTRANG], [MAKH], [MAHTTT], [MAGIAMGIA]) VALUES (1, CAST(N'2021-10-10T00:00:00.000' AS DateTime), 1, 1, 1, 3)
INSERT [dbo].[DONHANG] ([MADONHANG], [NGAYDAT], [TINHTRANG], [MAKH], [MAHTTT], [MAGIAMGIA]) VALUES (2, CAST(N'2021-10-10T00:00:00.000' AS DateTime), 1, 1, 1, 3)
INSERT [dbo].[DONHANG] ([MADONHANG], [NGAYDAT], [TINHTRANG], [MAKH], [MAHTTT], [MAGIAMGIA]) VALUES (3, CAST(N'2021-10-10T00:00:00.000' AS DateTime), 1, 2, 1, 2)
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[GIOHANG] ON 

INSERT [dbo].[GIOHANG] ([MAGIOHANG], [TENNGUOINHAN], [DIACHINGUOINHAN], [DIENTHOAINGUOINHAN], [NGAYGIOGIAO], [LOICHUC], [GHICHU]) VALUES (3, N'Nguyễn Thị Hợp', N'Berlin', N'987654321  ', CAST(N'2021-10-21T09:30:00.000' AS DateTime), N'Happy new year', N'Shipper gọi trước 30p')
INSERT [dbo].[GIOHANG] ([MAGIOHANG], [TENNGUOINHAN], [DIACHINGUOINHAN], [DIENTHOAINGUOINHAN], [NGAYGIOGIAO], [LOICHUC], [GHICHU]) VALUES (4, N'Nguyễn Thị Ngọc Anh', N'Minh Khai,Hà Nội', N'987654435  ', CAST(N'2021-10-25T10:30:00.000' AS DateTime), N'Happy new month', N'')
INSERT [dbo].[GIOHANG] ([MAGIOHANG], [TENNGUOINHAN], [DIACHINGUOINHAN], [DIENTHOAINGUOINHAN], [NGAYGIOGIAO], [LOICHUC], [GHICHU]) VALUES (5, N'Phạm Phi', N'Minh Khai,Hà Nội', N'987698421  ', CAST(N'2021-10-22T12:00:00.000' AS DateTime), N'Happy new day', N'Shipper gọi trước 10p')
SET IDENTITY_INSERT [dbo].[GIOHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[HTTT] ON 

INSERT [dbo].[HTTT] ([MAHTTT], [TENHTTT], [TRANGTHAI], [GHICHU]) VALUES (1, N'VNPay', 0, N'Hình thức chuyển khoản')
INSERT [dbo].[HTTT] ([MAHTTT], [TENHTTT], [TRANGTHAI], [GHICHU]) VALUES (2, N'Thanh toán khi nhận hàng', 0, N'Hình thức thanh toán trực tiếp')
SET IDENTITY_INSERT [dbo].[HTTT] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIENTHOAI], [DIACHI], [HINHANH], [GIOITINH], [NGAYSINH], [EMAIL]) VALUES (1, N'Nguyễn Thị Hợp', 987654321, N'Berlin', N'profile.jpg', 0, N'2004-10-10     ', N'hopnt@gmail.com                                                                                     ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIENTHOAI], [DIACHI], [HINHANH], [GIOITINH], [NGAYSINH], [EMAIL]) VALUES (2, N'Ngọc Anh', 987654321, N'Hà Nội', N'profile.jpg', 0, NULL, N'anhntn@gmail.com                                                                                    ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIENTHOAI], [DIACHI], [HINHANH], [GIOITINH], [NGAYSINH], [EMAIL]) VALUES (3, N'Phạm Phi', 987654321, N'Nam Định', N'profile.jpg', 1, N'2001-09-10     ', N'phipv@gmail.com                                                                                     ')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[MAGIAMGIA] ON 

INSERT [dbo].[MAGIAMGIA] ([MAGIAMGIA], [PHANTRAM], [MOTA]) VALUES (1, 3, N'Giảm giá 3% trên tổng giá trị hóa đơn')
INSERT [dbo].[MAGIAMGIA] ([MAGIAMGIA], [PHANTRAM], [MOTA]) VALUES (2, 5, N'Giảm giá 5% trên tổng giá trị hóa đơn')
INSERT [dbo].[MAGIAMGIA] ([MAGIAMGIA], [PHANTRAM], [MOTA]) VALUES (3, 10, N'Giảm giá 10% trên tổng giá trị hóa đơn')
SET IDENTITY_INSERT [dbo].[MAGIAMGIA] OFF
GO
INSERT [dbo].[QUYEN] ([TENQUYEN], [MOTA]) VALUES (N'Admin     ', N'Người quản lý trang web có thể thao tác thêm ,sửa ,xóa dữ liệu trong database')
INSERT [dbo].[QUYEN] ([TENQUYEN], [MOTA]) VALUES (N'Client    ', N'Khách hàng truy cập trang web')
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MOTA], [HOACHINH], [HOAPHU], [CHIEUNGANG], [CHIEUCAO], [GIABAN], [GIAKM], [MADANHMUCCON]) VALUES (1, N'Ấm áp', N'Màu đỏ chủ đạo là sự kết hợp dịu dàng và vô cùng ấm áp giữa hoa hồng đỏ và hoa cẩm chướng', N'Hoa Hồng', N'Hoa Cẩm Chướng', 40, 50, CAST(600000 AS Decimal(18, 0)), CAST(450000 AS Decimal(18, 0)), 1)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MOTA], [HOACHINH], [HOAPHU], [CHIEUNGANG], [CHIEUCAO], [GIABAN], [GIAKM], [MADANHMUCCON]) VALUES (2, N'Dịu dàng', N'Màu đỏ chủ đạo là sự kết hợp dịu dàng và vô cùng ấm áp giữa hoa hồng đỏ và hoa cẩm chướng', N'Hoa Hồng', N'Hoa Cẩm Chướng', 40, 50, CAST(1000000 AS Decimal(18, 0)), CAST(450000 AS Decimal(18, 0)), 1)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MOTA], [HOACHINH], [HOAPHU], [CHIEUNGANG], [CHIEUCAO], [GIABAN], [GIAKM], [MADANHMUCCON]) VALUES (3, N'Khát khao', N'Màu đỏ chủ đạo là sự kết hợp dịu dàng và vô cùng ấm áp giữa hoa hồng đỏ và hoa cẩm chướng', N'Hoa Hồng', N'Hoa Cẩm Chướng', 40, 50, CAST(100000 AS Decimal(18, 0)), CAST(450000 AS Decimal(18, 0)), 2)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
ALTER TABLE [dbo].[HTTT] ADD  CONSTRAINT [DF_TRANGTHAI]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONHANG] ([MADONHANG])
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETGIOHANG]  WITH CHECK ADD FOREIGN KEY([MAGIOHANG])
REFERENCES [dbo].[GIOHANG] ([MAGIOHANG])
GO
ALTER TABLE [dbo].[CHITIETGIOHANG]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[DANHMUCCON]  WITH CHECK ADD FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([MAGIAMGIA])
REFERENCES [dbo].[MAGIAMGIA] ([MAGIAMGIA])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([MAHTTT])
REFERENCES [dbo].[HTTT] ([MAHTTT])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MADANHMUCCON])
REFERENCES [dbo].[DANHMUCCON] ([MADANHMUCCON])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MADANHMUCCON])
REFERENCES [dbo].[DANHMUCCON] ([MADANHMUCCON])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([TENQUYEN])
REFERENCES [dbo].[QUYEN] ([TENQUYEN])
GO
USE [master]
GO
