@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="text-align:left;">Thông tin đơn hàng</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ngày đặt</th>
                        <th>Tình trạng</th>
                        <th>Tên khách hàng</th>
                        <th>HTTT</th>
                        <th>Thành tiền</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>001</td>
                        <td>12/10/2020</td>
                        <td>Đã thanh toán</td>
                        <td>Nguyễn Thị Ngọc Anh</td>
                        <td>Chuyển khoản</td>
                        <td>1000000</td>
                        <td>
                            <button class="btn btn-info">Xem chi tiết</button>
                            <button class="btn btn-success">Sửa</button>

                        </td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>10/03/2020</td>
                        <td>Đã thanh toán</td>
                        <td>Nguyễn Thị Hợp</td>
                        <td>Chuyển khoản</td>
                        <td>1000000</td>
                        <td>
                            <button class="btn btn-info">Xem chi tiết</button>
                            <button class="btn btn-success">Sửa</button>

                        </td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>12/10/2020</td>
                        <td>Đã thanh toán</td>
                        <td>Mai Văn Nam</td>
                        <td>Chuyển khoản</td>
                        <td>1000000</td>
                        <td>
                            <button class="btn btn-info">Xem chi tiết</button>
                            <button class="btn btn-success">Sửa</button>

                        </td>
                    </tr>
                    <tr>
                        <td>004</td>
                        <td>12/10/2020</td>
                        <td>Chưa thanh toán</td>
                        <td>Phạm Văn Phi</td>
                        <td>Trực tiếp</td>
                        <td>1000000</td>
                        <td>
                            <button class="btn btn-info">Xem chi tiết</button>
                            <button class="btn btn-success">Sửa</button>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>